
<div class="max-w-md mx-auto mt-8">
  <h1 class="text-2xl font-bold mb-6">Lista de Compras</h1>

  <%= render partial: 'form', locals: { item: @new_item } %>

  <div id="items" class="mt-6 space-y-2">
    <%= render @items %>
  </div>
</div>